<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" debug="false">
    <property name="log.base" value="${catalina.base}/logs/"/>
    <property name="pattern" value="%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level [%thread] [%C.java:%L] - %msg%n"/>
    <property name="importPattern" value="%d{yyyy-MM-dd HH:mm:ss.SSS}\t%-5level\t%thread\t%C\t%L\t%m%n"/>
    <property name="msgpattern" value="%msg%n"/>

    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <encoder charset="UTF-8">
            <pattern>${pattern}</pattern>
            <outputPatternAsHeader>false</outputPatternAsHeader>
        </encoder>
    </appender>

    <root level="debug">
        <appender-ref ref="stdout"/>
    </root>
</configuration>
