<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">
    <bean name="singletonClass" class="com.wangzz.spring.SingletonClass" scope="singleton">
        <property name="prototypeClass" ref="prototypeClass"/>
    </bean>

    <bean name="prototypeClass" class="com.wangzz.spring.PrototypeClass" scope="prototype">
        <property name="id" value="1"/>
        <property name="name" value="wangzz"/>
        <aop:scoped-proxy/>
    </bean>

    <bean name="cycle1" class="com.wangzz.spring.CyCleDepe">
        <property name="cyCleDepeTwo" ref="cycle2"/>
    </bean>

    <bean name="cycle2" class="com.wangzz.spring.CyCleDepeTwo">
        <property name="cyCleDepe" ref="cycle1"/>
    </bean>
</beans>